body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    font-size: small;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.21);
    z-index: 5;
}

.topbuttons{
    text-decoration: none;
    color: dimgray;
    margin: 5px;
    font-size: medium;
    font-weight: 700;
    margin-top: 18px;
    transition-duration: 0.2s;
}

.topbuttons:hover{
    color: rgb(0, 162, 255);
}

.logonav {
    width: 25px;
    height: 25px;
    margin-top: 16px;
    margin-right: 5px;
    margin-left: 40px;
}

.intro{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.intro2{
    background-image: url(../images/back.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.intro3{
    background-image: url(../images/back2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
}

.card{
    width: 31%;
    height: 350px;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    transition: 0.2s;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.card:hover{
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 10px 5px 0px rgba(0, 204, 255, 0.5);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.objectlogo{
    width: 200px;
    height: 200px;
}

.Ilustration{
    width: 800px;
    height: 500px;
    margin-top: 10vh;
}

.Ilustration2{
    width: 600px;
    height: 350px;
    margin-top: 25vh;
}
.introtitle2{
    font-family: 'Arial', sans-serif;
    font-weight:1900;
    font-size: x-large;
    color: rgb(0, 0, 0);
    margin-top: 15vh;
    width: 100%;
}
.introtitle{
    font-family: 'Arial', sans-serif;
    font-weight:1900;
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin-top: 25vh;
    width: 100%;
}

.introtitle h2{
    margin-top: 2px;
    margin-bottom: 2px;
}
.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
.hr2{
    height:45px;
    width:1px;
    border-width:0;
    color:#000;
    background-color:#000;
    margin: 6px;
    margin-left: 30px;
    margin-right: 30px;
}

.buttonblue {
    height: 30px;
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: small;
    font-weight: 700;
    margin-top: 15px;
    transition-duration: 0.2s;
    border: 0;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttonblue:hover{
    background-color: rgb(2, 132, 207);
}

.buttonblue:active{
    background-color: rgb(1, 82, 129);
}

.buttonwhite {
    height: 50px;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: large;
    margin-top: 2px;
    margin-top: 15px;
    transition-duration: 0.2s;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttonwhite:hover{
    background-color: rgb(2, 132, 207);
}

.buttonwhite:active{
    background-color: rgb(1, 82, 129);
}

.buttonwhite2 {
    height: 50px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 132, 207);
    font-size: large;
    transition-duration: 0.2s;
    border: 0;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonwhite2:hover{
    background-color: rgb(185, 185, 185);
}

.buttonwhite2:active{
    background-color: rgb(134, 134, 134);
}

.buttoncircle {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    transition-duration: 0.2s;
    border: 0;
    border-radius: 50px;
    padding: 0;
}

.buttoncircle:hover{
    background-color: rgb(2, 132, 207);
}

.buttoncircle:active{
    background-color: rgb(1, 82, 129);
}

.caracteristicas{
    padding: 5%;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.caracteristicas4{
    padding: 2%;
    margin-top: 5px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding-left: 10%;
    
    padding-right: 10%;
}

.caracteristicas2{
    padding: 5%;
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: #e0e0e0;
}

.caracteristicas3{
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 60vh;
    background-color: rgb(2, 132, 207);
    color:white;
    background-image: url(../images/Presentation.png);
    background-position: right;
    background-repeat: no-repeat;
}

.left{
    width: 50%;
}

.right{
    position: absolute;
    width: 50%;
    left: 50%;
    overflow: hidden;
}

.right2{
    position: absolute;
    width: 50%;
    left: 50%;
}

.margin{
    margin-left: 10px;
}

.Total{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.photo{
    width: 90%;
    height: 400px;
    border-radius: 20px;
}

.photosombra{
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.21);
}
.photo6{
    width: 100%;
    height: 60vh;
    position: absolute;
    top: -71px;
}
.flecha{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    width: 70px;
    height: 70px;
    z-index: -1;
}

.subtitle{
    margin-right: 20%;
    font-size: 50px;
}

.textnormal{
    font-size: large;
    font-weight: bold;
    margin-right: 20%;
}

.subtitle2{
    font-size: 50px;
}

.textnormal2{
    font-size: large;
    font-weight: bold;
}

.flex{
    display: flex;
}

.photo2{
    width: 20%;
    height: 200px;
    border-radius: 20px;
}

.photo3{
    width: 30%;
    height: 200px;
    border-radius: 20px;
}

.block{
    display: block;
    margin-top: 0%;
    margin-bottom: 0;
}

.copyzone{
    width: 100%;
    text-align: center;
}

@media (min-width: 1300px){
    .Ilustration2{
        width: 800px;
        height: 500px;
        margin-top: 18vh;
    }
}
@media (min-width: 860px) and (max-width: 1100px) {
    .card{
        width: 30%;
    }
    .Ilustration{
        width: 80%;
        height: 80%;
        margin-top: 10vh;
    }

    .marginb{
        margin-bottom: 300px;
    }
    .Ilustration2{
        width: 400px;
        height: 250px;
        margin-top: 20vh;
    }
    .introtitle{
        font-family: 'Arial', sans-serif;
        font-weight:1900;
        font-size: large;
        color: rgb(255, 255, 255);
        margin-top: 15vh;
        width: 100%;
    }

    .intro{
        height: 60vh;
    }

    .intro2{
        height: 80vh;
    }

    #intro{
        height: 70vh;
    }

    .introtitle2{
        margin-top: 10vh;
    }
}

@media (min-width: 640px) and (max-width: 859px) {
    .intro3{
        height: 95vh;
    }
    .Ilustration{
        width: 600px;
        height: 400px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    .card{
        width: 46%;
    }

    .Ilustration2{
        display: none;
    }
    .introtitle{
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-weight:1900;
        font-size: large;
        color: rgb(255, 255, 255);
        margin-top: 60vh;
        width: 100%;
    }

    .intro{
        height: 100vh;
        display: block;
    }

    .intro2{
        height: 80vh;
        display: block;
    }

    #intro{
        height: 70vh;
    }

    .caracteristicas{
        display: block;
    }
    .caracteristicas4{
        display: block;
    }

    .right{
        position: relative;
        width: 100%;
        left: 0px;
        justify-content: center;
    }
    .left{
        width: 100%;
        justify-content: center;
    }
    .photo{
        width: 100%;
    }

    .subtitle{
        margin-right: 0px;
    }

    .textnormal{
        margin-right: 0px;
    }

    .photo2{
        width: 40%;
    }
    .photo3{
        width: 50%;
    }
}

@media (max-width: 639px) {
    .full{
        width: 100%;
    }
    .Ilustration{
        width: 100%;
        height: 40%;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    .Ilustration2{
        display: none;
    }
    .introtitle{
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-weight:1900;
        font-size: large;
        color: rgb(255, 255, 255);
        margin-top: 45vh;
        width: 100%;
    }

    .caracteristicas4{
        display: block;
    }
    .intro{
        height: 100vh;
        display: block;
    }

    .caracteristicas{
        display: block;
    }

    .caracteristicas3{
        background-image: none;
    }
    .right{
        position: relative;
        width: 100%;
        left: 0px;
        justify-content: center;
    }
    .left{
        width: 100%;
        justify-content: center;
    }

    .card{
        width: 100%;
    }

    #intro{
        height: 70vh;
    }
    .cen{
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }

    .cen2{
        text-align: center;
    }
    .photo{
        width: 100%;
    }

    .subtitle{
        margin-right: 0px;
    }

    .textnormal{
        margin-right: 0px;
    }

    .subtitle2{
        margin-right: 0px;
    }

    .textnormal2{
        margin-right: 0px;
    }

    .photo2{
        width: 40%;
        height: 150px;
    }
    .photo3{
        width: 50%;
        height: 150px;
    }

    .hr2{
        display: none;
    }

    .topbuttons{
        display: none;
    }

    .logonav{
        margin-left: 2%;
    }
    
    .buttonblue{
        right: 2%;
    }

    .photo{
        height: 250px;
    }

    .right2{
       display: none;
    }

    .cen64{
        font-size: x-large;
    }
}